@model List<GedditWeb.Models.POIModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <!-- begin col-4 -->
    <div class="col-lg-10">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="index-2">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="@Url.Action("Create", "POI", new { area = "Admin" })" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Create New</a>
                </div>

                <h4 class="panel-title">My Points of Interest</h4>
            </div>
            <div class="panel-body bg-silver">



                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="1%">ID</th>
                                <th class="text-nowrap">Name</th>
                                <th class="text-nowrap">Description</th>
                                <th class="text-nowrap">Asset</th>
                                <th class="text-nowrap">Latitude</th>
                                <th class="text-nowrap">Longitude</th>
                                <th class="text-nowrap">Prize</th>
                                <th class="text-nowrap">State</th>
                                <th class="text-nowrap"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var poi in Model)
                            {
                                <tr class="odd gradeX">
                                    <td width="1%" class="f-s-600 text-inverse">@poi.Id</td>
                                    <td><b>@poi.Name</b></td>
                                    <td>@poi.Description</td>
                                    <td>@poi.AssetKey</td>
                                    <td>@poi.Latitude</td>
                                    <td>@poi.Longitude</td>
                                    <td>@poi.PrizeName</td>
                                    <td>
                                        <span class="label label-secondary">Not published</span>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-list"></i> Details</a>
                                        <a href="#" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> Edit</a>
                                        <a href="#" class="btn btn-xs btn-danger"><i class="fa fa-trash-alt"></i> Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!-- end panel -->
    </div>
</div>

